@inject CategoryDatabase CDatabase
@inject BillDatabase BDatabase
@inject SalaryDatabase SDatabase
@inject IJSRuntime JS

@using System.Diagnostics
@page "/"

<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Welcome back, palz!</h1>
    </div>

    <!-- Content Row -->
    <div class="row">

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Earnings (@todayMonth)
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">$@salaryMonth</div>
                        </div>
                        <div class="col-auto">
                            <i class="bi bi-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Earnings (@today.Year)
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">$@salaryAnnual</div>
                        </div>
                        <div class="col-auto">
                            <i class="bi bi-currency-dollar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Total Active Bills
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@billsCount</div>
                        </div>
                        <div class="col-auto">
                            <i class="bi bi-receipt fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                Total Bills (@todayMonth)
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">$@bItems.Sum(b => b.AmountDue)</div>
                        </div>
                        <div class="col-auto">
                            <i class="bi bi-credit-card fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row justify-content-center">
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Category Overview (@todayMonth)</h6>
                </div>
                <div class="card-body">
                    <div class="chart-pie pt-4 pb-2">
                        <canvas id="myCategoryChart"></canvas>
                    </div>
                    <div id="categoryChartLegend" class="mt-4 text-center small"></div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Plan Overview (@todayMonth)</h6>
                </div>
                <div class="card-body">
                    <div class="chart-pie pt-4 pb-2">
                        <canvas id="myPlanChart"></canvas>
                    </div>
                    <div id="planChartLegend" class="mt-4 text-center small"></div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Allocated Funds (@todayMonth)</h6>
                </div>
                <div class="card-body">
                        <ul class="list-group">
                        @foreach(var item in aItems)
                        {
                            <li class="list-group-item border-0">
                                <div class="row">
                                    <div class="col-9 border-bottom">@item.Name</div>
                                    <div class="col-3 border-bottom text-end">@item.Percentage <i class="bi bi-percent"></i></div>
                                    <div class="col-12 row align-items-center">
                                        <div class="col border-end row">
                                            <small class="col-12 text-muted">Allocated</small>
                                            <p class="col-12 mb-0">@item.funds <i class="bi bi-currency-dollar"></i></p>
                                        </div>
                                        <div class="col row ms-1 row">
                                            <small class="col-12 text-muted">Total Bills</small>
                                            <p class="col-12 mb-0 @(totalCategory(item.Id) > item.funds ? "text-danger" : "text-success")">@totalCategory(item.Id) <i class="bi bi-currency-dollar"></i></p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            allocatedIndex++;
                        }
                        </ul>
                </div>
            </div>
        </div>

    </div>
</div>

@code {
    private List<FinPal.Models.JSChartArray> planItems = new List<FinPal.Models.JSChartArray>();
    private List<FinPal.Models.BillwithFC> bItems = new List<FinPal.Models.BillwithFC>();
    //private List<FinPal.Models.Salary> sItems = new List<FinPal.Models.Salary>();
    private List<FinPal.Models.AllocatedFunds> aItems = new List<FinPal.Models.AllocatedFunds>();
    private List<JSChartArray> categoryArray = new List<JSChartArray>();

    private int billsCount = 0, allocatedIndex = 0;
    private decimal salaryAnnual = 0, salaryMonth = 0;
    private DateTime today = DateTime.Now;
    private string todayMonth = DateTime.Now.ToString("yyyy-MMM");

    protected override async Task OnInitializedAsync()
    {
        planItems = await CDatabase.GetPlanChartAsync();
        bItems = await BDatabase.GetItemsWithFCThisMonthAsync();
        billsCount = await BDatabase.GetActiveCountAsync();
        aItems = await CDatabase.GetAllocatedFundsAsync();
        salaryAnnual = await SDatabase.SumSalariesByYear(today.Year);
        salaryMonth = await SDatabase.GetSalaryByMonth(today.Year,today.Month);

        categoryArray = bItems
        .GroupBy(e => e.CategoryCode)
        .Select(g => new JSChartArray
            {
                Id = Int32.Parse(g.Key),
                Name = g.Select(z => z.CName).FirstOrDefault(),
                Value = g.Sum(e => e.AmountDue)

            }).ToList();

        await JS.InvokeVoidAsync("pieChart", "myPlanChart", "planChartLegend", planItems, salaryMonth);
        await JS.InvokeVoidAsync("pieChart", "myCategoryChart", "categoryChartLegend", categoryArray);
    }

    private decimal totalCategory(int Id)
    {
        var q = categoryArray.Where(x => x.Id == Id).Select(z => z.Value).FirstOrDefault();

        if (q != null)
            return q;

        return 0;
    }
}