@page "/settings/finance"
@inject FinanceNameDatabase Database
@inject NavigationManager Navigation
<h3 class="mb-5" >Settings</h3>
<form>
    <div class="row mb-3">
        <div class="mb-3 col-md-6">
            <label for="name" class="form-label">Finance Name</label>
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-bank2"></i></span>
                <input type="text" class="form-control" required id="name" @bind="formModel.name" placeholder="Enter Finance Name" />
            </div>
        </div>
        <div class="col-md-6">
            <label for="payDate" class="form-label">Payment Date</label>
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-calendar-event"></i></span>
                <input type="date" class="form-control" required id="payDate" @bind="formModel.payDate" placeholder="Enter Payment Date" />
            </div>
        </div>
    </div>

    <div class="mb-3">
        <label for="note" class="form-label col-md-2">Note</label>
        <div class="input-group">
            <span class="input-group-text"><i class="bi bi-card-text"></i></span>
            <textarea class="form-control" id="note" @bind="formModel.note" placeholder="Enter Note"></textarea>
        </div>
    </div>

    <div class="row mb-3 mt-3">
        <div class="mb-3 col-md-6">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="reminder" @bind="formModel.reminder" />
                <label class="form-check-label" for="reminder">
                    <i class="bi bi-bell"></i> Reminder
                </label>
            </div>

        </div>
        <div class="col-md-6">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="active" @bind="formModel.active" />
                <label class="form-check-label" for="active">
                    <i class="bi bi-toggles"></i> Active
                    </label>
            </div>
        </div>
    </div>
    
    
    <div class="d-grid gap-2 d-md-flex justify-content-md-end my-5">
        <button type="button" @onclick="createFinance" class="btn btn-primary">Submit</button>
        <button type="button" @onclick="cancelFinance" class="btn btn-primary">Cancel</button>
    </div>
</form>
<div>
    @foreach (var finance in financeList)
    {
        <div class="card mb-2">
            <div class="card-header">
                @finance.Name
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-10">
                        <p class="card-text">
                            <ul class="list-unstyled">
                                <li class="mb-2"><i class="bi bi-calendar-event"></i> @finance.PayDate</li>
                                <li class="mb-2"><i class="bi bi-bell"></i> @finance.Reminder</li>
                                <li class="mb-2"><i class="bi bi-toggles"></i> @finance.Active</li>
                                <li class="mb-2"><i class="bi bi-card-text"></i> @finance.Note</li>
                            </ul>
                        </p>
                    </div>
                    <div class="col-md-2 d-flex justify-content-end align-items-end">
                        <a @onclick="() => updateFinance(finance.Name,finance.Note,finance.Id)" class="btn btn-primary"><i class="bi bi-pencil-square"></i></a>
                        <a @onclick="() => deleteFinance(finance)" class="btn btn-danger disabled"><i class="bi bi-trash-fill"></i></a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@code {
    public int id = 0;
    private FormModel formModel = new FormModel();
    private List<FinanceName> financeList = new List<FinanceName>();

    protected override async Task OnInitializedAsync()
    {
        financeList = await Database.GetItemsAsync();
    }

    private async Task createFinance()
    {
        if (!string.IsNullOrWhiteSpace(formModel.name))
        {
            var finance = new FinanceName { 
                Id = id, 
                Name = formModel.name, 
                Note = formModel.note,
                PayDate = formModel.payDate,
                Active = formModel.active,
                Reminder = formModel.reminder
            };
            await Database.SaveItemAsync(finance);
            financeList = await Database.GetItemsAsync();
        }
    }

    private async Task deleteFinance(FinanceName finance)
    {
        await Database.DeleteItemAsync(finance);
        financeList = await Database.GetItemsAsync();
    }

    private void updateFinance(string uName, string uNote, int uId)
    {
        id = uId;
        formModel.name = uName;
        formModel.note = uNote;
        formModel.payDate = DateTime.Today;
        formModel.reminder = false;
        formModel.active = true;
    }

    private void cancelFinance()
    {
        if (string.IsNullOrEmpty(formModel.name))
        {
            Navigation.NavigateTo("/settings");
        }
        
        id = 0; formModel.name = ""; formModel.note = "";
    }

    private class FormModel()
    {
        public string? name { get; set; } 
        public string? note { get; set; }
        public bool reminder { get; set; } = false;
        public bool active { get; set; } = true;
        public DateTime payDate { get; set; } = DateTime.Today;
    }
}
